body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
}

#event-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
}

.card-header h2 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px; /* Espaçamento adicional abaixo do título */
}

.input-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff; /* Branco mais puro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333333;
}

input[type="text"],
input[type="date"],
input[type="time"],
textarea {
    width: calc(100% - 22px); /* Ajusta a largura para compensar o padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px; /* Espaçamento entre os campos */
}

textarea {
    resize: vertical; /* Permite redimensionar verticalmente */
}

.card-footer {
    text-align: center;
}

.submit {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit:hover {
    background-color: #0056b3;
}

body {
    background-image: url("./fundoazul.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }